* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.subHead {
    background: black;
    padding: 5% 0 5% 0;
    text-align: center;
}
.subHead h1 {
    color: white;
}
#shirts {
    height: 40vh;
    width: 33vw;
    text-align: center;
    display: inline-block;
}
#shirt_title {
    padding: 17vh 0 13.5vh 0;
}
#shoes {
    height: 40vh;
    width: 34vw;
    text-align: center;
    display: inline-block;
}
#shoes_title {
    padding: 17vh 0 13.5vh 0;
}
#pants {
    height: 40vh;
    width: 33vw;
    text-align: center;
    display: inline-block;
}
#pants_title {
    padding: 17vh 0 13.5vh 0;
}
#sales{
    text-align: center;
    height: 33vh;
}
#sales_title {
    padding: 14vh 0 10vh 0;
}
